* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

section {
    scroll-margin-top: 80px;
}

.fondo {
    width: 100%;
    margin: 0;
    min-height: 100vh;
    background: #3d3027;
    color: white;
    position: relative;
    z-index: 0;
}

.fondo::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
        ),
        url("./assets/images/fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

@media (max-width: 768px) {
    .fondo::before {
        background-image:
            linear-gradient(
                rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)
            ),
            url("./assets/images/fondoCelu.png");
    }
}